@page "/ooo"

<h3>Order of Operations</h3>

<ol>
    <li>Download Mudblazor</li>
    <li>Create new Mudblazor project and clean it just like you would a standard blazor project</li>
    <li>Install NuGet Packages. 1.Microsoft.EntityFrameworkCore 2.Microsoft.EntityFrameworkCore.SQLite 3. Microsoft.EntityFrameworkCore.Tools 4.MudBlazor </li>
    <li>Create a new project in the solution to contain the table models</li>
    <li>Create a new class in original project called DbContext(along those lines)</li>
    <li>Register the class you just created in the Program.cs file</li>
    <li>Head over to appsettings.json to create the connection string need</li>
    <li>Add connection string the db context in program.cs</li>
    <li>Open up package manager console and type in "add-migration Name_of_Migration". Without the quotes and name_of_migration can be anything</li>
    <li>After migration folder is added to the project, type "update-database" in package manager console to create the tables</li>
    <li>Verify table creation in your DB interface</li>
    <li>Create the Generic Interface</li>
    <li>Create a Generic Service that inherits from the Generic Interface</li>
    <li>Create a service for each of your table model classes and make them inherit from the generic service you just created</li>
    <li>Register the services you just created in the _imports.razor file</li>
    <li>Create necessary blazor components to display information in your db</li>
</ol>

@code {

}
